.container {
  padding: 20px 5px;
}

.button {
  cursor: pointer;
}

.movie {
  display: flex;
  margin-top: 4px;
}

.title {
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
}

.info {
  font-size: 14px;
}

.imgThumb {
  max-width: 200px;
  max-height: 260px;
}

.infoThumb {
  padding: 20px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
