.container {
  padding: 20px 5px;
}

.button {
  cursor: pointer;
}

.goBackBtn {
  display: inline-block;
  padding: 1px 4px;
  font-size: 12px;
  text-decoration: none;
  background-color: #d8d5d5;
  border: 0.5px #000 solid;
  border-radius: 5px;
}

.goBackBtn:hover {
  background-color: #b7b7b7;
}
