.container {
  padding: 20px 5px;
}

.button {
  display: flex;
  align-items: baseline;
  height: 18px;
  cursor: pointer;
}

.label {
  margin-left: 4px;
  font-size: 12px;
  line-height: 1;
}

.arrow {
  width: 16px;
  align-self: center;
}

.goBackBtn {
  display: inline-block;
  padding: 1px 4px;
  font-size: 12px;
  text-decoration: none;
  background-color: #d8d5d5;
  border: 0.5px #000 solid;
  border-radius: 5px;
}

.goBackBtn:hover {
  background-color: #b7b7b7;
}

.message {
  padding: 10px;
  font-size: 14px;
  color: #b7b7b7;
}
