.container {
  padding: 20px 5px;
}

.item:hover {
  color: rgb(201, 94, 115);
}

.item:not(:first-child) {
  margin-top: 10px;
}

.link {
  font-weight: 500;
  font-size: 14px;
}

.link:hover {
  color: inherit;
}
